*{
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin: auto;
    
}
.product{
    display: flex;
    width: 100%;
}


.nav-bar{  
   width: 100%;
   height: 40px;
   background-color: rgb(51, 214, 151);
}
.product-img{
    width: 80%;
}
img{
    width: 50%;
}
button{
    background-color: rgb(26, 182, 91);
    width: 40%;
    padding: 8px;
    color: white;
    border:2px solid rgb(26, 182, 91);
    margin-right: 10px;
}
button:focus{
    border:2px solid rgb(26, 182, 91);
  
}
.cart{
    width: 50%;
    padding: 5px;
    border: 1px solid rgb(214, 205, 205);
    font-size: 1.5em;
    float:right;
}
.color-box{
    width: 30px;
    height: 30px;
    margin-top: 5px;

}
.disabledButton{
    background-color: gray;
    border: 2px solid gray;
}
.OutofStock{
    text-decoration: line-through;
}